{% extends 'base.html.twig' %}

{% block title %}Liste des Membres{% endblock %}
{% block body %}
{{ dump(members)}}
    <h1>Liste des Membres</h1>

    <ul>
        {% for member in members %}
            <li>
                <a href="{{ path('app_member_show', { id: member.id }) }}">
                    {{ member.email }}
                </a>
            </li>
        {% else %}
            <li>Aucun membre trouvé.</li>
        {% endfor %}
    </ul>

{% endblock %}
